<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" lang="fr">
    <link rel="stylesheet" href="{{ asset ('css/index.css') }}"></link>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
</head>

<body>

 <div class="block">
    <h1>BLOG ECUSSONS DISNEY</h1>
 
        <div>
            <p><img src= "{{ asset ('images/accueil.jpg') }}" 
                     height="300px" width="auto"/></p>
             <h1><a href="/article">ARTICLE</a></h1>
             <h1><a href="/articlecreate">CREATION D'ARTICLE</a></h1>
        </div>

            <div class="footerindex">
                <h2>CGV</h2>
                <h2>copyright</h2>
            </div>
</div>
</body>
</html>